In [2]:
import pandas as pd
from pandasql import sqldf

In [113]:
t = pd.read_csv('./datasets/Popular_Baby_Names.csv')
t
t['Count'].mean()

33.78855897851642

In [107]:
s = pd.read_csv('./datasets/squirrel.csv')
s = s[['Shift', 'Age', 'Primary Fur Color', 'Highlight Fur Color', 'Location', 'Running', 'Chasing', 'Climbing', 'Eating', 'Foraging', 'Kuks', 'Quaas', 'Moans', 'Tail flags', 'Tail twitches', 'Approaches', 'Indifferent', 'Runs from']]
#s['Running'] = s['Running'].replace({True: 'Yes', False: 'No'})
s

,Shift,Age,Primary Fur Color,Highlight Fur Color,Location,Running,Chasing,Climbing,Eating,Foraging,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from
0,PM,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False
1,AM,NaN,NaN,NaN,NaN,False,False,False,False,False,False,False,False,False,False,False,False,False
2,PM,NaN,Gray,NaN,Above Ground,False,True,False,False,False,False,False,False,False,False,False,False,False
3,PM,Adult,Gray,NaN,NaN,False,False,False,True,True,False,False,False,False,False,False,False,True
4,AM,Adult,Gray,Cinnamon,Above Ground,False,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,AM,Adult,Gray,NaN,Ground Plane,False,False,False,True,True,False,False,False,False,False,False,False,True
3019,PM,Adult,Gray,White,Ground Plane,False,False,False,False,True,False,False,False,False,False,False,True,False
3020,PM,Adult,Gray,"Black, Cinnamon, White",Ground Plane,False,False,False,True,True,False,False,False,False,False,False,True,False
3021,PM,NaN,Gray,"Cinnamon, White",Ground Plane,False,False,False,True,False,False,False,False,False,False,False,True,False
3022,PM,Adult,Cinnamon,"Gray, White",Ground Plane,False,False,False,True,True,False,False,False,False,False,True,False,False

In [108]:
for col in ['Running', 'Chasing', 'Climbing', 'Eating', 'Foraging', 'Kuks', 'Quaas', 'Moans', 'Tail flags', 'Tail twitches', 'Approaches', 'Indifferent', 'Runs from']:
    s[col] = s[col].replace({True: col, False: ''})

    #s[col] = s[col].replace([True], col, inplace=True)
    #s[col] = s[col].map({True: 'True', False: 'False'})
s

,Shift,Age,Primary Fur Color,Highlight Fur Color,Location,Running,Chasing,Climbing,Eating,Foraging,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from
0,PM,NaN,NaN,NaN,NaN,,,,,,,,,,,,,
1,AM,NaN,NaN,NaN,NaN,,,,,,,,,,,,,
2,PM,NaN,Gray,NaN,Above Ground,,Chasing,,,,,,,,,,,
3,PM,Adult,Gray,NaN,NaN,,,,Eating,Foraging,,,,,,,,Runs from
4,AM,Adult,Gray,Cinnamon,Above Ground,,,,,Foraging,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,AM,Adult,Gray,NaN,Ground Plane,,,,Eating,Foraging,,,,,,,,Runs from
3019,PM,Adult,Gray,White,Ground Plane,,,,,Foraging,,,,,,,Indifferent,
3020,PM,Adult,Gray,"Black, Cinnamon, White",Ground Plane,,,,Eating,Foraging,,,,,,,Indifferent,
3021,PM,NaN,Gray,"Cinnamon, White",Ground Plane,,,,Eating,,,,,,,,Indifferent,
3022,PM,Adult,Cinnamon,"Gray, White",Ground Plane,,,,Eating,Foraging,,,,,,Approaches,,

In [109]:
s.replace({None: ''})

,Shift,Age,Primary Fur Color,Highlight Fur Color,Location,Running,Chasing,Climbing,Eating,Foraging,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from
0,PM,,,,,,,,,,,,,,,,,
1,AM,,,,,,,,,,,,,,,,,
2,PM,,Gray,,Above Ground,,Chasing,,,,,,,,,,,
3,PM,Adult,Gray,,,,,,Eating,Foraging,,,,,,,,Runs from
4,AM,Adult,Gray,Cinnamon,Above Ground,,,,,Foraging,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,AM,Adult,Gray,,Ground Plane,,,,Eating,Foraging,,,,,,,,Runs from
3019,PM,Adult,Gray,White,Ground Plane,,,,,Foraging,,,,,,,Indifferent,
3020,PM,Adult,Gray,"Black, Cinnamon, White",Ground Plane,,,,Eating,Foraging,,,,,,,Indifferent,
3021,PM,,Gray,"Cinnamon, White",Ground Plane,,,,Eating,,,,,,,,Indifferent,
3022,PM,Adult,Cinnamon,"Gray, White",Ground Plane,,,,Eating,Foraging,,,,,,Approaches,,

In [110]:
s.to_csv(path_or_buf='./datasets/sqr2.csv', header=False, index=False)

In [89]:
import io
import numpy as np
from pathlib import Path

with open(Path.cwd().joinpath("sqrll2.csv"), "w") as f:
    f.write("\n".join([l.strip(",") for l in s.to_csv(index=False, header=None).split("\n")]))

In [53]:
sqldf("SELECT * from s")

,Shift,Age,Primary Fur Color,Highlight Fur Color,Location,Running,Chasing,Climbing,Eating,Foraging,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from
0,PM,None,None,None,None,None,0,0,0,0,0,0,0,0,0,0,0,0
1,AM,None,None,None,None,None,0,0,0,0,0,0,0,0,0,0,0,0
2,PM,None,Gray,None,Above Ground,None,1,0,0,0,0,0,0,0,0,0,0,0
3,PM,Adult,Gray,None,None,None,0,0,1,1,0,0,0,0,0,0,0,1
4,AM,Adult,Gray,Cinnamon,Above Ground,None,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,AM,Adult,Gray,None,Ground Plane,None,0,0,1,1,0,0,0,0,0,0,0,1
3019,PM,Adult,Gray,White,Ground Plane,None,0,0,0,1,0,0,0,0,0,0,1,0
3020,PM,Adult,Gray,"Black, Cinnamon, White",Ground Plane,None,0,0,1,1,0,0,0,0,0,0,1,0
3021,PM,None,Gray,"Cinnamon, White",Ground Plane,None,0,0,1,0,0,0,0,0,0,0,1,0
3022,PM,Adult,Cinnamon,"Gray, White",Ground Plane,None,0,0,1,1,0,0,0,0,0,1,0,0

In [37]:
#t.drop(t.columns[[2,3,4,7,8,9]], axis=1, inplace=True)
t = t[['DBN', 'School Type', 'Environment Rating', 'Students with Disabilities', 'Average Grade 8 English Proficiency', 'Years of Principal Experience at This School', 'Average SAT Score']]

In [38]:
t

,DBN,School Type,Environment Rating,Students with Disabilities,Average Grade 8 English Proficiency,Years of Principal Experience at This School,Average SAT Score
0,09X327,High School,NaN,0.267,2.50,10.0,NaN
1,01M292,High School,Approaching Target,0.318,2.17,2.0,1131.0
2,01M448,High School,Exceeding Target,0.291,2.23,5.0,1176.0
3,01M450,High School,Exceeding Target,0.271,2.66,13.0,1311.0
4,01M509,High School,Not Meeting Target,0.277,2.34,1.0,1150.0
...,...,...,...,...,...,...,...
479,84X395,High School,Meeting Target,0.169,2.26,NaN,1088.0
480,84X482,High School,NaN,0.167,2.23,NaN,NaN
481,84X539,High School,NaN,0.171,2.43,NaN,NaN
482,84X553,High School,NaN,0.270,2.25,NaN,NaN
483,84X703,High School,Not Meeting Target,0.156,2.48,NaN,1271.0

In [18]:
sqldf("SELECT * FROM t WHERE Gender='FEMALE'")
sqldf("UPDATE t")

       Year of Birth  Gender           Ethnicity First_name  Count  Rank
0               2011  FEMALE            HISPANIC  GERALDINE     13    75
1               2011  FEMALE            HISPANIC        GIA     21    67
2               2011  FEMALE            HISPANIC     GIANNA     49    42
3               2011  FEMALE            HISPANIC    GISELLE     38    51
4               2011  FEMALE            HISPANIC      GRACE     36    53
...              ...     ...                 ...        ...    ...   ...
20160           2019  FEMALE  BLACK NON HISPANIC      Sanai     10    34
20161           2019  FEMALE  BLACK NON HISPANIC    Sariyah     10    34
20162           2019  FEMALE  BLACK NON HISPANIC      Sevyn     10    34
20163           2019  FEMALE  BLACK NON HISPANIC     Zariah     10    34
20164           2019  FEMALE  BLACK NON HISPANIC      Zhuri     10    34

[20165 rows x 6 columns]